<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Training</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="./livros">Lista de livros</a></li>
        <li><a href="./livros/form">Incluir mais livros</a></li>
      </ul>      
    </div>
  </body>
</html>
